/* Tiki webmail */
.groupmail .from_col {
	width: 20%;
}

.groupmail .action_col {
	width: 80px;
}

body {
	min-width: 100%;
}

.selected_menu,
.selected_menu a {
	text-decoration: underline;
}

.settings_subtitle,
.server_section {
	font-weight: bold;
}

.server_section {
	max-height: 100px;
	overflow: hidden;
}

.quick_add_section {
	padding-left: 25px;
}

.nux_step_one,
.nux_step_two {
	padding-left: 0;
}

.nux_account_name,
.nux_username,
#service_select {
	width: 100%;
	margin-bottom: 0;
}

.nux_next_button {
	margin-top: 10px;
}

.part_desc,
.part_size,
.download_link {
	margin-left: 25px;
}

.profile_details th,
.msg_date {
	font-weight: bold;
}

.btn-outline-secondary:hover {
	text-decoration: none;
}

.folders a,
.unread_link {
	font-weight: normal;
}

.configured_server,
.add_server {
	background: transparent;
}


/* Mobile specific */
.mobile .inline-cypht {
	padding-top: 20px;
}

.mobile .src_name {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	box-sizing: content-box;
}

.mobile .content_cell {
	padding: 20px 0 20px;
	border: none;
	display: block !important;
	min-height: 600px;
}

.mobile .content_title {
	display: flex;
	align-items: center;
	padding: 0 10px 0 50px;
	min-height: 60px;
	box-sizing: border-box;
	line-height: normal;
	font-size: 115%;
	font-weight: 500;
}

.mobile .content_title .list_controls {
	border: none;
	background: #fff;
}

.mobile .content_title .list_controls a {
	padding-right: 0;
}

.mobile .toggle_link {
	width: auto !important;
}

.mobile .user_settings table td,
.mobile .edit_profile table th,
.mobile .edit_profile table td {
	display: block;
	padding: 10px 15px;
	height: auto;
	width: 100%;
}

.mobile .user_settings table td:not(.settings_subtitle),
.mobile .edit_profile table th,
.mobile .edit_profile table td {
	box-sizing: border-box;
}

.mobile .user_settings table td:not(.settings_subtitle):nth-child(1),
.mobile .edit_profile table th {
	max-width: 40%;
	flex: 0 0 40%;
}

.mobile .user_settings table td:nth-child(2),
.mobile .edit_profile table td {
	max-width: 60%;
	flex: 0 0 60%;
}

.mobile .user_settings table tr,
.mobile .edit_profile table tr {
	display: flex !important;
	flex-wrap: wrap;
}

.mobile .user_settings input[type=text],
.mobile .user_settings select,
.mobile .edit_profile input[type=text],
.mobile .edit_profile input[type=email],
.mobile .edit_profile select,
.mobile .edit_profile textarea {
	width: 100%;
	text-align: left;
}

.mobile .edit_profile table {
	width: 100%;
}

.mobile .settings_subtitle,
.mobile .server_section {
	padding-left: 15px !important;
}

.mobile .nux_step_one,
.mobile .nux_step_two {
	padding-left: 30px;
	max-width: 85%;
}

.mobile .nux_dev_news table td {
	display: block;
	white-space: normal;
}

.mobile .nux_empty_combined_view {
	margin-left: 10px;
	margin-right: 10px;
}

.mobile .add_server {
	margin-left: 20px;
}

.mobile .server_count {
	margin-right: 15px;
}

.mobile .list_settings_link,
.mobile .refresh_list {
	width: 20px;
	height: 20px;
}

.mobile .sys_messages {
	padding-bottom: 15px;
	white-space: normal;
	min-height: 5px;
}

.mobile #imap_server_folder {
	width: 100%;
}

.mobile .folder_dialog {
	margin-left: 30px;
	width: 85%;
}

.mobile .compose_page {
	padding: 10px;
	overflow: hidden;
	box-sizing: border-box;
}

.mobile .compose_form {
	padding: 0 !important;
}

.mobile .msg_text {
	max-width: 100% !important;
	word-break: break-word;
}

.mobile .msg_text_inner {
	width: 100%;
	padding: 15px !important;
	box-sizing: border-box;
}

.mobile .msg_parts {
	table-layout: auto;
}

.mobile .msg_controls {
	width: 100%;
	height: 43px;
	top: 0;
	left: 0 !important;
	right: 0;
	padding: 17px 0 0 50px;
}

.mobile .news_cell {
	padding-bottom: 15px !important;
}

.mobile .news_cell .subject,
.mobile .news_cell .subject div {
	padding-bottom: 0px !important;
}

.mobile .news_cell .msg_date {
	padding-top: 0;
}

.mobile .checkbox_cell {
	padding-left: 8px !important;
}

.mobile .header_links {
	padding-bottom: 8px;
}

/* removing unnecessary stuff */
.tiki-webmail.mobile .box-logo,
.tiki-webmail.mobile .pagetitle,
.tiki-webmail.mobile .pagetitle+.t_navbar {
	display: none;
}

.tiki-webmail.mobile .topbar {
	margin-bottom: 0;
}

.tiki-webmail.mobile #row-middle {
	margin-left: -15px;
	margin-right: -15px;
	border: none;
}

.tiki-webmail.mobile #col1 {
	padding: 0;
	border: none;
}

.tiki-webmail.mobile #col2,
.tiki-webmail.mobile #col3 {
	margin-left: 15px;
	margin-right: 15px;
}


/* menu slide in animation */
.mobile .folder_list {
	width: auto;
	margin-bottom: 50px;
	font-size: 100%;
	display: block !important;
}

.mobile .folder_list .update_message_list,
.mobile .folder_list .hide_folders {
	display: none;
}

.mobile .folder_toggle {
	display: block !important;
	letter-spacing: normal;
}

.mobile .folder_toggle img {
	width: 24px;
	height: 30px;
	margin: -5px 0 0 5px;
}

.mobile .folder_cell {
	position: fixed;
	width: 300px;
	top: 60px;
	left: -310px;
	overflow: auto;
	z-index: 1;
	transition: all 1s ease;
	transform: translateX(-300px);
}

.mobile .folder_cell.slide-in {
	transition: all 0.5s ease;
	transform: translateX(300px);
}
