.tiki-webmail, .tiki-cypht, .mobile.tiki-cypht, .inline-cypht {
    background: $body-bg;
	font-family: $font-family-base;
	color: $body-color;

    a:not(.btn) {
        color: $link-color !important;
        &:hover {
            color: $link-hover-color !important;
            text-decoration: $link-hover-decoration;
        }
    }
}

.inline-cypht {
    background: transparent;
    .folders a, .subject a, .selected_menu a,
    .unread_link, .selected_menu, .manage_folder_link {
        &:not(.btn) {
            color: $link-color !important;
            &:hover {
                color: $link-hover-color !important;
                text-decoration: $link-hover-decoration;
            }
        }
    }

    .folder_list, .content_cell, .compose_page, .message_list, .msg_text, .selected_part,
    .server_content, .profile_content, .user_settings,
    .nux_add_account, .imap_server_setup, .pop3_server_setup,
    .configured_server, .add_server {
        background-color: $popover-bg;
        color: $popover-body-color;
    }

    .folder_list, .content_cell { border: 1px solid $input-border-color; }
    .content_title {
        .list_meta { color: $popover-header-color !important; }
        .list_controls {
            border-top: 1px solid $input-border-color;
            border-right: 1px solid $input-border-color;
        }
    }

    .src_name, .content_title, .list_controls {
        background: $popover-header-bg;
        color: $popover-header-color;
    }
    .src_name { border-left-color: transparent; }

    .message_table > tbody > tr > td, .msg_headers, .reply_quote,
    .user_settings table td, .nux_empty_combined_view,
    .empty_list, .profiles_empty, .subtitle {
        color: $popover-body-color;
    }
    .msg_text_inner > table { background-color: #fff; }

    .msg_headers th:hover, .settings_subtitle,
    .server_section { color: $popover-body-color !important; }

    .total_unread_count, .unread_count { color: #000; }
    .btn-outline-secondary:hover { color: #fff !important; }

    .profile_details th, .msg_date,
    .news_cell .source, .news_cell .from { color: $popover-body-color; }
}

.mobile.tiki-cypht, .mobile.tiki-webmail {
    .content_cell .content_title {
        &, .list_controls {
            background: $popover-header-bg;
            color: $popover-header-color;
        }
    }

    .msg_controls {
        background: $popover-header-bg !important;
    }

    .folder_list {
        background-color: $popover-bg;
        color: $popover-body-color;
        border: 1px solid $input-border-color;

        .src_name {
            background: $popover-header-bg;
            color: $popover-header-color;
            border-left-color: transparent;
        }
    }
}
